body {
    padding: 20px;
}

.title {
    text-align: center;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    a {
        color: aliceblue;
        text-decoration: none;
    }
}

.table {
    margin-top: 10px;
}

.forms {
    margin: 20px auto;
    max-width: 500px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms label {
    width: 100%;
    text-align: center;
    display: block;
}

.forms input,
.forms textarea {
    width: 100%;
    box-sizing: border-box;
}

.forms button {
    width: auto;
    align-self: center;
}

.form-control {
    margin-top: 30px;
}

.form-order {
    margin: 20px auto;
    max-width: 500px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.btn-order {
    margin: 10px 0 10px 0;
}

#items-container>div.item-row {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

#items-container select {
    flex: 2;
}

#items-container input[type="number"] {
    flex: 1;
}

#items-container button {
    flex: 0 0 auto;
    padding: 6px 12px;
}